body { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.date-container { 
    margin: 12.5% auto 0 auto;
    /*text-align: center;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 7.8em;

    .date { 
        font-size: 12.5em;
    }

    .month { 
        font-size: 7em;
        font-weight: 500;
    }
    

    .year { 
        font-size: 2.75em;
        margin-top: -1em;
        letter-spacing: 0.75em;
        margin-left: 0.1em;
    }
}
